.login {
  height: 350px;
  width: 400px;
  box-shadow: 0 0 5px 1px #ccc;
  border-radius: 5px;
  padding: 20px;

  h1 {
    font-weight: bold;
  }

  form {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__input,
  &__button {
    width: 100%;
    margin-bottom: 20px;
  }
}
