.home {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  
  &__input,
  &__button {
    margin-bottom: 20px !important;
  }

  h1, h2 {
    color: #888;
  }

  &__command-type,
  &__message {
    color: #000;
    text-transform: capitalize;
  }
}
