.home {
  width: 100%;
  max-width: 800px;
  margin: auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  & > * {
    margin-bottom: 20px;
  }

  h1 {
    color: #888;
  }

  .command-title {
    color: #000;
    text-transform: capitalize;
  }
}
