.app {
  &__header {
    padding: 10px;
    background-color: #282c34;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__title {
      font-weight: 500;
      font-size: 18px;
    }

    &__logout {
      border: 1px solid #fff;
      border-radius: 5px;
      padding: 5px 10px;
      cursor: pointer;
    }
  }
}
